 <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" title="This Header is rendered by /app/_layout/site-header/site-header.component.html">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Multi Layout Angular App</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home<small>(Site layout)</small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About<small>(Site layout)</small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login Page<small>(No layout)</small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register Page<small>(No layout)</small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard<small>(App layout)</small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile<small>(App layout)</small></a>
          </li>
        </ul>
      </div>
    </nav>